<link rel="stylesheet" href="styles/post.css">
<link rel="stylesheet" href="assets/alloy-editor/alloy-editor-ocean-min.css">
<link rel="stylesheet" href="../library/tagging/tagging-base.css">
<script type="text/javascript" src="assets/alloy-editor/alloy-editor-all-min.js"></script>
<script type="text/javascript" src="../library/tagging/tagging.min.js"></script>
<div class="md-editor" ng-if="$root.device != 'mobile'">
    <div class="md-config-panel">
        <div class="md-float-left">
            <div class="md-icon-group">
                <a class="tip" data-mode="bottom" data-tip="Close" href="#/"><i class="fa fa-close"></i></a>
                <a class="tip" data-mode="bottom" data-tip="Reset" href=""><i class="fa fa-refresh"></i></a>
            </div>
        </div>
        <div class="md-float-right">
            <div class="md-button-group">
                <button class="button-primary">Preview</button>
                <button class="button">Save</button>
            </div>
        </div>
    </div>
    <div class="md-post-editor">
        <div class="md-post-title">
            <textarea type="text" class="md-title-input" elastic placeholder="Enter you title here.." ng-model="post.title" value="" />
        </div>
        <div class="md-config-section">
            <div class="row">
                <div class="four columns">
                    <select class="u-full-width md-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>
                <div class="eight columns">
                    <div md-tags ng-model="post.labels" placeholder="Labels"></div>
                </div>
            </div>
        </div>
        <div class="md-post-content">
            <div ng-model="post.content" class="md-content" alloy-editor></div>
        </div>
    </div>
</div>
<div class="md-editor" ng-if="$root.device == 'mobile'">
    <div class="md-config-panel">
        <div class="md-float-left">
            <div class="md-icon-group">
                <a class="tip" data-mode="bottom" data-tip="Close" href=""><i class="fa fa-close"></i></a>
            </div>
        </div>
    </div>
    <div class="md-post-editor">
        <div class="md-post-no-editor">
            Editing is not possible in Mobile mode.
        </div>
    </div>
</div>