<div class="site-nav-bar-fixed">
    <div class="site-logo">
        <a href="#0"><img src="{{logo}}" alt="Logo"></a>
    </div>
    <div class="site-nav">
        <nav class="site-nav-wrapper">
            <ul class="site-main-nav">
                <li><a href="#0">முகப்பு </a></li>
                <li><a href="#0">கட்டூரைகள் </a></li>
                <li class="site-main-nav-login"><a href="#0">
                    உறிமையாளர்
                    <i class="fa fa-sign-in"></i>
                </a></li>
                <li class="site-main-nav-search" search-overlay><a href="#0">
                    <i class="fa fa-search"></i>
                </a></li>
            </ul>
        </nav>
    </div>
    <div class="rsx-site-nav">
        <nav class="rsx-site-nav-wrapper">
            <ul class="rsx-site-main-nav">
                <li search-overlay><a href="#0">
                    <i class="fa fa-search"></i>
                </a></li>
                <li class="rsx-site-nav-trigger">
                    <a href="#0" class="rsx-menu-show">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="#0" class="rsx-menu-close">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="rsx-site-nav-content">
            <ul class="rsx-site-menu">
                <li><a href="#0">முகப்பு </a></li>
                <li><a href="#0">கட்டூரைகள் </a></li>
                <li class="site-main-nav-login"><a href="#0">
                    உறிமையாளர்
                    <i class="fa fa-sign-in"></i>
                </a></li>
                <li><a href="#0">உதவி </a></li>
                <li><a href="#0">தொடர்ப்பு </a></li>
            </ul>
        </div>
    </div>
</div>