<div class="articleItem article-preview">
    <div class="articleItem-card articleItem-card-preview">
        <div class="articleItem-cardInner articleItem-cardInner-preview">
            <div class="md-article md-article-short">
                <div class="md-marginTopSection">
                    <span class="md-article-labels pull-left">
                        <i class="fa fa-tag"></i>{{article.labels.join(',')}}
                    </span>
                    <span class="md-article-date pull-right" time-span="article.posted">
                    </span>
                </div>
                <div class="md-article-column">
                    <a ng-href="#/article/{{article.uri}}" class="md-article-anchor">
                        <div class="md-article-content" ng-class="(article.cover == '') ? 'md-article-no-cover' : ''">
                            <section class="md-article-section">
                                <div class="md-article-section-content">
                                    <div class="md-article-section-inner">
                                        <figure ng-if="article.cover != ''" class="md-section-figure">
                                            <div class="md-article-img-responsive">
                                                <img ng-src="{{article.cover}}" alt="{{article.title}}">
                                            </div>
                                        </figure>
                                        <h3 class="md-article-section-title">
                                            {{article.title}}
                                        </h3>
                                        <div class="md-section-section-content">
                                            {{article.short}}
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </a>
                </div>
                <div class="md-article-readmore">
                    <a ng-href="#/article/{{article.id}}" class="md-readmore">மெலும் படிக்க...</a>
                </div>
                <div class="padding-top-10">
                    <div class="md-buttonset">
                        <div class="md-article-stats fl-left">
                            <span><i class="fa fa-heart-o"></i>{{article.likes}}</span>
                            <span><i class="fa fa-comments-o"></i>{{article.comments}}</span>
                        </div>
                        <div class="fl-right">
                            share buttons
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>