<div id="searchOverlay" class="morphsearch">
    <form class="morphsearch-form">
        <input class="morphsearch-input" type="search" placeholder="தேடு ..."/>
        <i class="morphsearch-submit fa fa-search"></i>
    </form>
    <div class="morphsearch-content">
        <div class="dummy-column">
            <h2>முதன்மையான தேடல் </h2>
            <a class="dummy-media-object" ng-repeat="search in topSearches | orderBy: '-count'">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-primary" ng-bind="search.count"></strong>
                </span>
                <h3 ng-bind="search.term"></h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>அதிகம் படித்தவை </h2>
            <a class="dummy-media-object" ng-repeat="read in reads | orderBy: '-count'">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-primary" ng-bind="read.count"></strong>
                </span>
                <h3 ng-bind="read.title"></h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>அதிகம் விவாதிக்கப்பட்டவை </h2>
            <a class="dummy-media-object" ng-repeat="comment in commented | orderBy: '-count'">
                <span class="fa-stack fa-1x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <strong class="fa-stack-1x text-primary" ng-bind="comment.count"></strong>
                </span>
                <h3 ng-bind="comment.title"></h3>
            </a>
        </div>
    </div>
    <!-- /morphsearch-content -->
    <span class="morphsearch-close" search-overlay></span>
</div>