<header class="md-admin-header">
    <a href="#" class="md-logo"><img src="../assets/images/logo.png" alt="Logo"></a>
    <div class="md-search is-hidden">
        <form action="#0">
            <i class="fa fa-search search-placeholder"></i>
            <input type="search" placeholder="Search...">
        </form>
    </div>
    <a href="#0" class="md-nav-trigger"><span></span></a>
    <nav class="md-admin-nav">
        <ul class="md-top-nav">
            <li class="has-children log-out">
                <a href="#0">
                    <i class="fa fa-sign-out"></i>
                    Log out
                </a>
            </li>
        </ul>
    </nav>
</header>