<nav class="md-side-nav" sub-menu-enable=".has-children">
    <ul>
        <li class="md-label">Quick Links</li>
        <li class="action-btn">
            <a href="#0">New Post</a>
        </li>
    </ul>
    <ul>
        <li class="md-label">Statistics</li>
        <li class="overview">
            <a href="#0">Overview</a>
        </li>
        <li class="has-children notifications">
            <a href="#0">Notifications<span class="count">3</span></a>
            <ul>
                <li><a href="#0">All Notifications</a></li>
                <li><a href="#0">Emails</a></li>
                <li><a href="#0">Reports</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li class="md-label">Dashboard</li>
        <li class="has-children users">
            <a href="#0">Users</a>
            <ul>
                <li><a href="#0">All Users</a></li>
                <li><a href="#0">Edit User</a></li>
                <li><a href="#0">Add User</a></li>
            </ul>
        </li>
        <li class="has-children comments">
            <a href="#0">Comments</a>
            <ul>
                <li><a href="#0">All Comments</a></li>
                <li><a href="#0">Edit Comment</a></li>
                <li><a href="#0">Delete Comment</a></li>
            </ul>
        </li>
    </ul>
</nav>