main.article-main {
	margin-top: 120px;
}

article.article-container {
    margin: 0 10%;
    padding-bottom: 30px;
    margin-bottom: 80px;
	text-align: justify;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.md-article-view {
	letter-spacing: .01rem;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	line-height: 1.8;
	letter-spacing: -0.003em;
}

figure.article-image {
	width: 100%;
	height: 400px;
	margin: 20px 0px;
	position: relative;
}

figure.article-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.pg-metaBar {
	display: block;
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
	z-index: 500;
	height: 50px;
	width:100%;
	background: rgba(255,255,255,0.97);
	border-top: 1px solid rgba(0,0,0,0.05);
	box-sizing: border-box;
	padding-left: 40px;
	padding-top: 10px;
	font-family: "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
}

.pg-metaBar-none {
	display: none;
}

.pg-bar-right {
	float: right !important;
	color: rgba(0,0,0,0.4);
}

.pg-btn {
	padding: 10px 20px 10px 20px;
	border: 1px solid rgba(0,0,0,0.4);
	text-decoration: none;
	color: rgba(0,0,0,0.3);
	border-radius: 20px;
}

.pg-btn-like {
	color: green;
	font-family: "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
	border: 1px solid green;
	margin-left: 30px;
}

.pg-btn-like:hover {
	cursor: pointer;
	border: 2px solid green;
}

.pg-btn-comments {
	color: green;
	font-family: "Helvetica Neue", "Droid Sans", Helvetica, Arial, sans-serif;
	border: 1px solid green;
	margin-left: 60%;
}

.pg-btn-comments:hover {
	cursor: pointer;
	border: 2px solid green;
}

.nextPost {
	margin-left: 10px;
	margin-right: 5px;
	padding: 17px;
	border-left: solid 1px rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
}

.nextPost:hover {
	background-color: rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.9);	
}

.pg-bar-left {
	float: left !important;
	color: rgba(0,0,0,0.4);
	padding-left: 5%;
}
.pg-bar-left i {
	color: green;
}
