*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
    color: #33414a;
}

a {
    color: #7e4d7e;
    text-decoration: none;
}

li.site-main-nav-search a{
 margin-left: -25px;
}

li.site-main-nav-login a {
    margin-left: -15px;
}