*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Pavanam", "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 85vw!important;
    width:100%!important;
}

.main-content {
    position: relative;
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 90vw!important;
    }
}

li.site-main-nav-search a {
    margin-left: -25px;
}

li.site-main-nav-login a {
    margin-left: -15px;
}

/* General Utils */
.padding-top-10 {
    padding-top:10px;
}

.fl-left {
    float: left!important;
}

.fl-right {
    float: right!important;
}
